body {
    background: url(robotjjumping.gif); 
    background-size: cover;
    height: 100%;
}

.angle {
    padding-bottom: 2%;
    color: white;
    font-family: "Proxima Nova", sans-serif;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 17px;
}

